@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

$linkColor: #29bb7a;
$linkActiveColor: #39e297;
$subscribeColor: #667180;

body {
	background-color:black;
	padding:0px;
	margin:0px;
}

#screens {
	position:absolute;
	min-width:100%;
	min-height:100%;
	font-size: 12px;

	@media screen and (min-width:960px) {
		min-width:960px;
		font-size: 18px;
	}
}



#tutorial-keyboard {
	position: absolute;
	left:20px;bottom:20px;
	display:table;
	padding: 30px;
	background-color: transparent;
	border-radius: 15px;
}

#tutorial-keyboard > * {
	margin:0 auto;
	display:table;
}

#infoblock {
	position: absolute;
	left:20px;bottom:20px;
}

#screens pre {
	display:table;
	max-width:100%;
	font-size:16px;
	margin: 0 auto;
}

#screens pre code {
	text-align:left;
}

#screens center {
	padding:0 0 20px 0;
}

#screens .row {
	margin:0 -20px 0 0;
}

#screens .row:after {
	content:"";
	clear:both;
	display:block;
}

#screens .row .col-md-6 {
	width: 49%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px 0 0;
}

#screens .screen {
	background-position:center center;
	background-repeat: no-repeat;
	background-color:transparent;
	background-size:cover;
}

#screens .screen > article {
	position:absolute;
	top:50%;left:50%;
	-webkit-transform:translateY(-50%) translateX(-50%);
	-ms-transform:translateY(-50%) translateX(-50%);
	transform:translateY(-50%) translateX(-50%);

	color:white;
	font-family: 'Lato', "Arial";

	display: box;
	box-orient: horizontal;
	box-align:center;

	font-weight:100;
	display: table;
	width: 75%;
	text-align: center;
}

#screens .screen > article.topleft {
	top:20px;
	left:100px;
	margin:0;
	width:auto;
}

#screens .screen > article.panel {
	background-color:rgba(0,0,0,0.85);
	border-radius: 16px;
	padding:20px 20px;
	text-align:left;
}

#screens .screen > article summary {
	font-family:"Roboto", "Arial";
	font-size:15px;
	font-weight: 100;
	text-align:center;
	color:white;
}

#screens .screen > article summary a {
	font-family:"Roboto", "Arial";
	font-size:15px;
	font-weight: 400;
	color:#00429a;
}

#screens .screen > article h1 {
	color:rgb(255,255,255);
	font-family: 'Lato', "Arial";
	font-size:82px;
	font-weight:100;
	display: block;
	width: auto;
	text-align: center;
	margin:40px 0 5px 0;
}

#screens .screen > article h1.black {
	color:rgb(36, 36, 36);
	font-weight: 400;
	text-shadow: 0px 3px 2px rgba(255,255,255,0.8);
}

#screens .screen > article h2 {
	color:white;
	font-family: 'Lato', "Arial";
	font-size:2.8em;
	font-weight:600;
	display: block;
	width: auto;
	text-align: center;
	margin:40px 0 60px 0;
	line-height:40px;
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.74);
	margin:0 0 0.3em 0;
}

#screens .screen > article h2.glamo {
	color:rgb(0, 0, 0);
	font-size:120px;
}


#screens .screen > article h3 {
	color: $subscribeColor;
    font-family: 'Roboto Condensed', "Arial";
    font-size: 1.2em;
    font-weight: 100;
    display: block;
    width: auto;
    text-align: center;
    margin: 0 0 50px 0;
    line-height: 40px;
    letter-spacing: 2px;
}

#screens .screen > article h2.black {
	color:rgb(26, 26, 26);
	font-weight: 400;
	font-size:56px;
	text-shadow: 0px 3px 2px rgba(255,255,255,0.8);
}

#screens .screen > article h2.strong {
	text-shadow: 0px 3px 2px #000;
	font-weight: 400;
}

#screens .screen > article big {
	color:rgb(0, 0, 0);
	font-family: 'Roboto Condensed', "Arial";
	font-size:58px;
	font-weight:100;
	display: block;
	width: auto;
	text-align: center;
	margin:0 0 20px 0;
	text-shadow:2px -2px 1px white;
}


#screens .screen > article a {
	text-decoration: none;
	cursor:pointer;
	color:$linkColor;
	transition:color 0.34s ease;
	&:hover {
		color:$linkActiveColor;
	}
}

#screens .screen > article a button {
	-webkit-transition:background 0.25s ease;
	transition:background 0.25s ease;
	border-radius: 16px;
	background-color:rgba(3, 86, 179, 1);
	color:white;
	font-family: "Roboto Condensed","Arial";
	font-weight:400;
	text-align:center;
	border:0;
	line-height:50px;
	padding:0 20px;
	font-size: 24px;
	cursor:pointer;
}

#screens .screen > article a:hover button {
	background-color:rgba(0, 62, 131, 1);
}

#screens .screen > article i.ts {
	font-size:1.2em;
	font-weight:300;
	color:rgb(162, 209, 155);
	font-family: "Roboto";
}

#screens .screen > article i.ts b {
	color:white;
	font-weight:100;
	font-size:1.2em;
}

.representation {
	display: flex;
    margin: 0 auto;
    width: 60%;
    max-width:100%;
    font-size: 24px;
    justify-content: center;
	>div {
		padding:0 20px;
		>a {
			word-wrap: normal;
    		white-space: nowrap;
    		color:$linkColor;
    		&:hover {
				color:rgb(66, 132, 218);
    		}
		}
	}
}

/* Shares */
.share-panel {
	position:absolute;
	top:20px;
	right:68px;
}

.share-panel .circle {
	  display: block;
	  float: left;
	  width: 50px;
	  height: 50px;
	  background-color: rgb(0, 0, 0);
	  border-radius: 25px;
	  position: relative;
	  margin-left: 8px;
}

.share-panel .circle > svg {
position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
}

/* Home panel */
.home-panel {
	height: 50px;
	border-radius: 25px;
	width:auto;
	position:absolute;
	top:20px;
	left:-25px;
	text-align:left;
	padding:0 25px 0 50px;
	line-height:50px;
	color:white;
	font-family:"Roboto Condensed", "Arial";
	font-weight:600;
	background-color:black;
	font-size:26px;
	text-transform: uppercase;
}

/* Backgrounds */

#screens .screen.bluegrd {
	background: #7db9e8; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #2989d8 50%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7db9e8), color-stop(50%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #7db9e8 0%,#2989d8 50%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
