:local(.infoBlock) {
  width: 300px;
  margin-top: 12px;
  margin-left: 80px;
  >div {
    background-color: #191919;
    color: white;
    min-height: 50px;
    line-height: 50px;
    padding: 0 16px;
    border-radius: 16px;
    margin-bottom: 4px;
    font-size: 1.3em;
    font-family: Roboto;
  }
  >descript {
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 16px;
    box-sizing: initial;
    padding: 20px;
    display: block;
  }
}
